body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.diy-slideshow{
  height: 650px;
  position: relative;
  left: 10%;
  width: 80%;
  display: block;
  overflow: hidden;
}
figure{
  height: 600px;
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}
.next{
  position: absolute;
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  position: absolute;
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.image-slide {
  width: 100%;
}

/*Lightbox*/

#lightboxgallery{
  width: 95%;
  margin-left: 2.5%;
}

.rows {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.row9 img {
  width: auto;
  height: 352px;
  margin-left: 5px;
}

.row8 img {
  width: auto;
  height: 283px;
  margin-left: 5px;
}

.row7 img{
  width: auto;
  height: 342px;
}

.row6 img{
  width: auto;
  height: 280px;
}

.row2 img{
  height: 345px;
  width: auto;
  margin-left: 5px;
}

.row4 img {
  height: 287px;
  width: auto;
  margin-left: 5px;
}

.row3 img{
  height: 323px;
  width: auto;
  margin-left: 5px;

}

.row5 img {
  width: auto;
  height: 358px;
  margin-left: 5px;
}

.row img{
  margin-left: 5px;
}




@media only screen and (max-width: 500px) {
  .diy-slideshow{
    width: 100%;
    left: 0%;
    top: 50px;
    height: 340px;
  }
  .next, .prev {
    top: 125px;

  }
  .next {
    right: 0px;
  }

  .image-slide {
    width: 100%;
  }

  .rows {
    flex-direction: column;
  }

  .rows img {
    width: 90%;
    height: auto;
    margin-top: 5px;
    margin-left: 5%;
  }
}

