@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|Vollkorn');

.navbar{
    height: 70px;
    font-size: 18px;
    padding: 5px;
    font-family: 'Vollkorn', serif;
}


.header{
    height: 600px;
    width: 100%;
    background-image: url('../images/wall2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    margin-top: -2%;
}
.header h1{
    /*font-family: 'Vollkorn', serif;*/
    text-align: center;
    position: relative;
    top: 170px;
    height: 100px;
    width: 83%;
    left: 120px;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.3);
}

#description {
    font-family: 'Vollkorn', serif;
    text-align: center;
    margin-top: 30px;
    width: 80%;
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 10px;
}

#about{
    width: 80%;
    font-family: 'Vollkorn', serif;
    margin-left: 10%;
    margin-top: 40px;
    font-size: 25px;
}


.review-outsidebox {
    font-size: 40px;
    font-family: 'Vollkorn', serif;
    text-align: center;
}

.contact-nav {
    background-color: rgb(139,195,163, 0.5);
    border-radius: 0 4px 4px 0;
}

.contact-nav:hover {
    background-color: rgb(139,195,163, 0.9);
}


#review-paul {
    font-family: 'Vollkorn', serif;
    width: 32rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10%;
}

#review-george {
    font-family: 'Vollkorn', serif;
    width: 32rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10%;
}

.profile-paul {
    height: 80px;
    width: 80px;
    z-index: 1000;
    border-radius: 50%;
}

#name-paul {
    font-size: 2.4rem;
}

.reviews-paul {
    padding:0px 7px;
    font-size: 2rem;
}

.review-jake {
    font-family: 'Vollkorn', serif;
    width: 32rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10%;
    margin-right: 20px;
    margin-left: 30px;
    padding: 10px;
}

.box, .box2 ,.box3 {
    display: flex;
    margin-left: 9%;
    margin-top: 30px;
}

/*
 Image cards
*/
.victoria{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.image-text{
    text-align: center;
    position: relative;
    top: -170px;
    left: 40px;
    font-size: 30px;
    color: white;
    z-index: 1;
    height: 60px;
    width: 250px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.3);
}

#video-frame {
    width: 80%;
    margin-left: 10%;
}


/*
    Form
*/


.contact-text{
    margin:45px auto;
}

.mail-message-area{
    width:100%;
    padding:0 15px;
}

.mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
}

/* Input Styles */

.form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover{
    border:1px solid #8BC3A3;
}

.form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
}

.textarea{
    height: 125px;
    max-height: 200px;
    max-width: 100%;
}

/* Generic Button Styles */
.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
    background:#8BC3A3;
    color:white;
}

/* Send Button Styles */

.form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover{
    background:#111;
    color: white;
    border:none;
}

.form-btn:active{
    opacity: 0.9;
    }
center{
  margin-top: auto;
}
input {
    position: relative;
    z-index: 2;
}
/*
 social
*/

.fb {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.insta {
    height: 50px;
    width: 50px;
}

#about-header{
    background-image: url(../images/shivam-image.jpeg);
    height: 600px;
    width: 100%;
    background-position: center center;
}

#about-para h1 {
    font-family: 'Vollkorn', serif;
    font-size: 4rem;
}

#about-para {
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    line-height: 1.5rem;
}

@media only screen and (max-width: 350px){
    .navbar {
        padding: 0;
        font-size: 12px;
        height: auto;
    }
    .navbar-brand{
        padding-left: 0px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 500px) {
    .header{
        padding: 100px 10px 10px 10px;
        height: 350px;
    }
    .header h1{
        position: relative;
        top: 10%;
        left: 9%;
        height: auto;
        font-size: 35px;
        text-align: center;

    }
    .collapse {
        background-color: #E6E6E6;
    }
    #description {
        font-size: 23px;
    }
    .box, .box2 {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .review-jake {
        width: 28.75rem;
        margin-left:3%;
    }

    #review-paul {
        width: 28.75rem;
        margin-left: 3%;
        margin-top: 20px;
    }

    #review-george {
        width: 28.75rem;
        margin-left: -1.2rem;
        margin-top: 20px;
    }

    #video {
        height: 350px;
    }

    #about {
        font-size: 22px;
    }

    .orelse{
        font-size: 20px;
    }

    .fb {
        height: 30px;
        width: 30px;
    }

    .insta {
        height: 30px;
        width: 30px;
    }

    .nav{
        font-size: 1.2rem;
    }

    .contact-header {
        font-size: 2.6rem;
    }

    #about-header {
        height: 300px;
        margin-top: 70px;
        background-position: center;
    }
}
