#photo-header {
    background-image: url('../images/photo-tours/main image.jpg');
    background-size: cover;
    background-position: center center;
    height: 600px;
}

#photo-header h1 {
    font-family: 'bonvenocflight';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 50%;
    left: 25%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.3);
}

#photo-walk-header img{
    width: 100%;
}

#photo-walk-header {
    margin-top: -20%;
}

#assist-header {
    background-image: url('../images/fixer/fixer-crop.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}


#assist-header h1{
    font-family: 'bonvenocflight';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 50%;
    left: 25%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.5);
}

#assist-header h2{
    text-align: center;
    position: absolute;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.4);
}

#workshop-header img{
    width: 100%;
    height: 600px;
}

#workshop-header h1{
    font-family: 'bonvenocflight';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 30%;
    left: 35%;
    color: white;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.2);
}

#workshop-header h2 {
    text-align: center;
    position: absolute;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(255, 255, 255, 0.1);
}

#workshop-header {
    height: 600px;
    width: 100%;
    background-image: url('../images/workshop/main\ image.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}


#photo-walk-header h1 {
    font-family: 'bonvenocflight';
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 40%;
    left: 30%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.3);
}

#photo-walk-header h2 {
    text-align: center;
    position: absolute;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.3);
}



#photo-header h2 {
    text-align: center;
    position: relative;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.3);
}

#first-row {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
}

#second-row {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    top: 150px;
    padding: 10px;
    padding-top: 150px;
    margin: 30px 10px 0 10px;
    font-family: 'Vollkorn', sans-serif;
}

#second-row h1 {
    font-size: 40px;
    font-family: 'bonvenocflight', serif;
}

#third-row {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
}

#box{
    display: flex;
    flex-direction: row;
}

#quote {
    font-family: 'Vollkorn', serif;
    font-size: 3rem;
}

.contact-nav {
    background-color: rgb(139,195,163, 0.5);
    border-radius: 0 4px 4px 0;
}

.contact-nav:hover {
    background-color: rgb(139,195,163, 0.9);
}

.image-first {
    margin-top: 10px;
    height: 300px;
}

.image-second {
    margin-top: 20px;
    height: 450px;
}

#blockquote {
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
}


@media only screen and (max-width: 500px){
    #photo-header {
        height: 350px;
        background-position: center center;
        width: 100%;
    }
    #workshop-header {
        height: 350px;
        background-position: center center;
    }

    #workshop-header h1{
        top: 25%;
        left: 25%;
        width: 50%;
        height: auto;
        font-size: 28px;
    }

    #workshop-header h2 {
        font-size: 1.8rem;
    }
    #assist-header {
        height: 350px;
        background-position: center center;
        width: 100%;
        background-image: url('../images/fixer/fixer.JPG');
    }

    #assist-header h1 {
        padding: 4px;
        top:25%;
        font-size: 25px;
        height: auto;
        width: 70%;
        margin-left: -7%;
    }

    #assist-header h2 {
        font-size: 1.8rem;
    }

    #photo-walk-header img{
        width: 100%;
        height: 350px;
    }

    #photo-walk-header {
        margin-top: 0%;
    }

    #photo-walk-header h1{
        top: 25%;
        left: 20%;
        width: 60%;
        height: auto;
        font-size: 35px;
    }

    #photo-header h1{
        top:25%;
        font-size: 25px;
        height: 55px;
        padding-bottom: 5px;
    }

    #box{
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .image-first {
        height: 200px;
        width: 300px;
    }

    .image-second {
        height: 350px;
        width: 233px;
        margin-left: 6.8rem;
    }

    #first-row {
        margin-left:10%;
        width: 80%;
    }

    #second-row {
        font-size: 1.8rem;
        max-width: 90%;
        padding: 5px;
    }

    #third-row {
        max-width: 100%;
    }

    #second-row h1 {
        font-size: 3rem;
    }

    #quote {
        font-size: 2.3rem;
        text-align: left;
    }

    #blockquote {
        margin-left: 20px;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    nav {
        max-width: 100%;
    }
}