#photo-header {
    background-image: url('../images/photo-tours/photo-7.jpg');
    background-size: cover;
    height: 600px;
}

#photo-header h1 {
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 50%;
    left: 25%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.3);
}

#photo-walk-header img{
    width: 100%;
}

#photo-walk-header {
    margin-top: -20%;
}

#assist-header {
    background-image: url('../images/assistant/cover.jpg');
    background-size: cover;
    height: 600px;
}


#assist-header h1{
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 50%;
    left: 25%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.5);
}

#assist-header h2{
    text-align: center;
    position: absolute;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.4);
}

#workshop-header img{
    width: 100%;
    height: 600px;
}

#workshop-header h1{
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 50%;
    left: 25%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.3);
}

#workshop-header h2 {
    text-align: center;
    position: absolute;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.4);
}

#workshop-header {
    height: 600px;
}


#photo-walk-header h1 {
    text-align: center;
    position: absolute;
    top: 35%;
    height: 100px;
    width: 40%;
    left: 30%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.3);
}

#photo-walk-header h2 {
    text-align: center;
    position: absolute;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.3);
}



#photo-header h2 {
    text-align: center;
    position: relative;
    top: 80px;
    height: 35px;
    width: 70px;
    left: 2%;
    color: white;
    width:;
    font-size: 20px;
    padding: 5px;
    background:rgba(0, 0, 0, 0.3);
}

#first-row {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-top: 20px;
    margin-left: 20px;
}

#second-row {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    text-align: center;
    margin-top: 150px;
    padding: 10px;
}

#second-row h1 {
    font-size: 40px;
}

#third-row {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
    margin-right: 20px;
}

#box{
    display: flex;
    flex-direction: row;
}

#quote {
    font-size: 35px;
}

.contact-nav {
    background-color: rgb(139,195,163, 0.5);
    border-radius: 0 4px 4px 0;
}

.contact-nav:hover {
    background-color: rgb(139,195,163, 0.9);
}