#review-header{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    background-image: url('../images/reviews/cover_1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#review-header h1{
    text-align: center;
    position: relative;
    top: 60%;
    height: 100px;
    width: 35%;
    left: 32.5%;
    color: white;
    width:;
    font-size: 50px;
    padding: 20px;
    background:rgba(0, 0, 0, 0.5);
}

.navbar{
    height: 70px;
    font-size: 18px;
    padding: 5px;
}

/* Paul Somers*/
#review-paul {
    font-family: 'Vollkorn', serif;
    width: 32rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-right: 20px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10%;
}

.profile-paul {
    height: 80px;
    width: 80px;
    z-index: 1000;
    border-radius: 50%;
}

#name-paul {
    font-size: 2.4rem;
}

.reviews-paul {
    padding:0px 7px;
    font-size: 2rem;
}

.review-jake {
    font-family: 'Vollkorn', serif;
    width: 32rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10%;
    margin-right: 20px;
    margin-left: 30px;
    padding: 10px;
}

.box {
    display: flex;
    margin-left: 10%;
}


@media only screen and (max-width: 500px) {
    #review-header{
        height: 350px;
        padding: 100px 10px 10px 10px;
        background-position: center center;
    }

    #review-header h1{
        position: relative;
        top: 25%;
        left: 25%;
        width: 180px;
        height: auto;
        font-size: 35px;
        text-align: center;
    }

    .box {
        display: flex;
        flex-direction: column;

    }


    .review-jake {
        width: 28.75rem;
        margin-left:-1.2rem;
    }

    #review-paul {
        width: 28.75rem;
        margin-left: -1.2rem;
        margin-top: 20px;
    }
}
