
/* Image */

	.image {
		position: relative;
		-ms-behavior: url("assets/js/ie/PIE.htc");
	}

		.image:before, .image:after {
			display: none !important;
		}

		.image img {
			position: relative;
			-ms-behavior: url("assets/js/ie/PIE.htc");
		}

/* Header */

	#header {
		background-image: url("../../images/bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		-ms-behavior: url("assets/js/ie/backgroundsize.min.htc");
	}

		#header h1 {
			color: #ffffff;
		}

/* Footer */

	#footer .icons a {
		color: #ffffff;
	}
